{% extends 'default/default_layout.html.twig' %}

{% block content %}
    <form action="{{ path('delete_account') }}" method="post">
        <p>Delete your account. This action is irreversible.</p>
        <input type="submit" value="Confirm"/>
    </form>
{% endblock%}